@import '../variables/variables.scss' ;

.header {
    padding: 25px 25px 0 25px;

    &_wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; 
    }

    &_icon{
        max-width: 30px;    
    }

    &__language{

        &_icon{
            :global{
                .anticon, svg {
                    fill: $grey-light;
                }
            }
        }
        &_select{
            :global{
                .ant-select-selection-item{
                    color: $grey-light; 
                }
                .anticon, svg {
                    fill: $grey-light;
                }
                .ant-select-open{
                    background-color: red;
                }
            } 
        }
    }
}
