@import '../variables/variables';
@import '../mixins/mixins';

.main{

    &_search{
        margin: 0 auto;
        max-width: 560px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
        margin-bottom: 120px;
    }

    &_search-input{
        width: 100%;
    }

    &_search-btn{
        padding: 0 43px;
        background-color: $blue;

        & span {
            @include main-btn;
        }
    }

    &_weathers{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}