$white: #FFFFFF;
$beige: #FFA25B;
$baige-middle: #FFFAF1;
$geige-light: #FFF4F4;
$grey: #464646;
$grey-dark: #707070;
$grey-middle: #8D8D8D;
$grey-light: #AFAFAF;
$grey-ultra-light: #C5C5C5;
$gray-thiny: #F2F2F2;
$black: #000000;
$black-light: #464646;
$blue: #459DE9;
$blue-middle: #5B8CFF;
$blue-light: #F1F2FF;